@import '@salesforce/slds/legacy';

section.slds-accordion__section {
    padding: 0.75rem 0;
}

.slds-accordion__summary {
    padding: 0 0.75rem;
}

.slds-accordion__summary-heading .slds-button:focus {
    text-decoration: none;
}

